body {
    font-family: 'Raleway', sans-serif;
    color: #022444;
    margin: 0;
    padding: 0;
    background-color: #ececec;
    background: url(./background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
