body {
    font-family: 'Nunito', sans-serif;
    color: #022444;
    margin: 0;
    padding: 0;
    background-color: #E1F1FF;
    background: url(./background.png) #E1F1FF;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
}

label {
   margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
