.travel-container {
background-color: #FFB142;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
margin: 20px;
padding: 20px 30px;
width: 350px;
border-radius: 6%;
}

.travel-heading {
 color: white;
 font-size: 25px;
 border-bottom-style: solid;
}

.location-name {
    color: white;
}

.start-word {
    color:white;
}
.end-word {
    color: white;
}

.back-dashboard-link {

}